/* --------------- Basic Critter Page .css ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Press Start 2p';
}

#critterContainer{

  /* display: flex; */
  

}
.critterButtonContainer{

  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border-color: red;

  width: 40vw;
  

}
.critterButton {
  max-width: 20vw;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}
h4 {
  max-height: 20vh;

}
#viewContainer{

  display: flex;
  position: relative;
  text-align: center;


}
.careControls{
  border-radius: 25%;
  color: green;
  display: flex;
  


}
.level{
  color: red;
}


/* -------------------------------------------------------- */
/* -------------------- Pixel Art Css --------------------- */
/* -------------------------------------------------------- */
.pixelArt{
  image-rendering: pixelated;
}
/*  This section creates a new .css variable in order to adjust the size of individual pixels so as to make the pixel art scaleable */
:root{
  --pixel-size-four: 6;
  --pixel-size-six: 9;
  --pixel-size-eight: 12; 
  /*  adjusting this number changes critter size   */
}
/* -------------------------------------------------------- */


/* ##### FOR MAPPING IF WE USE IT ##### */

/* .mapContainer {
  width: 50vw;
  height: 50vh;
}

.mapMarker {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 14pt;
  cursor: pointer;
}

.mapMarker:hover {
  width: 20px;
  height: 20px;
  font-size: 18pt;
} */

Form {
  max-width: 30vw;
  margin-left: 30px;
  padding: 20px;
  display: inline-block;
  border: 1px solid red;
}

.fndButton1 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleFood.png");
  background-repeat: no-repeat;
  background-position: cover;
  
}
.fndButton2 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleDrink.png");
  background-repeat: no-repeat;
  
}
.fndButton3 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleSweet.png");
  background-repeat: no-repeat;
  
}

h1 {

  font-size: 60px;

}

h2 {
  font-size: 50px;
}

.all {
  width: 50px;
  height: 50px;
  text-align: center;
  background-position: center;
  background-size: 75%;
  padding: 10px;
  background-color: #445169;
  border: 2px solid antiquewhite;
}

.all:hover {
  color: white;
}

a:link {
  text-decoration: none;
  color: rgb(33, 74, 48);
}

a:visited {
  text-decoration: none;
  color: rgb(33, 74, 48);
}

header {
  background-image: url("./assets/sky\ header2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1)), url("./assets/grass\ tile.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  z-index: -10;
  height: 90vh;
  /* opacity: 0.7; */
}

footer {
  /* margin-top: 550px; */
  background-color: #282c34;
  max-height: 40px;
  color: white;
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  text-align: center;
}

.App {
  text-align: center;
  height: 70vh;
  width: 100vw;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#critterContainer{
  background-image: url("/src/assets/battle-background.jpg");
  background-position: center center;
  background-size: 100% 100%;

  /* background-color: white; */
  padding: 40px;
  margin: 60px;
  border-radius: 20px;

  /* background-size: cover; */
  /* max-width: 100%;
  max-height: 100%; */
  /* height: 1000px;
  width: 1000px; */
 

  object-fit: cover;
}

.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Game CSS */
#gameContainer{
  font-family: 'Press Start 2P', cursive;
  font-size: px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-color: red; */
  border-radius: 20px;
  /* background-color: white; */
  padding: 40px;
  margin: 20px 50px;
  margin-bottom: -30px;
}

#userContainer, #opponentContainer{
  margin: 0 auto;
}

#game-flip{
  transform: scaleX(-1);
}

#game-image{
  transform: scaleX(-1);
  margin: 0 auto;
}


#user-game, #opp-game{
  text-align: center;
  color: rgb(3, 9, 11);
  font-size: 15px;
}

#game-critter{
  background-color: aliceblue;
 
}

#level{
  font-family: 'Press Start 2P', cursive;
  font-size: 50pt;
}



#game-buttons{
  /* color: red; */
  /* background-color: red; */
  /* background-color: black; */
  margin: 0 auto;
  font-family: 'Press Start 2p';
  margin-bottom: -15px;
 
}
.video-game-button {
  /* background-color: black;
  font-family: 'Press Start 2p'; */
  font-size: 30pt;
  font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 1px rgb(239, 233, 233), -1px -1px rgb(38, 9, 9);

	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}
.start-btn{
  font-family: 'Press Start 2p';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: rgb(241, 230, 230);
    text-shadow: -1px -1px black, 1px 1px white;
    color: rgb(194, 187, 187);
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    padding: 10px;

}
.video-game-button:active, .start-btn:active {
  font-family: 'Press Start 2p';
	box-shadow: none;
	position: relative;
	top: .2em;
}