/* --------------- Basic Critter Page .css ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Press Start 2p';
}

@import url('https://fonts.cdnfonts.com/css/common-pixel');

@import url('https://fonts.cdnfonts.com/css/spooky-pixels?styles=135469');

@import url('https://fonts.cdnfonts.com/css/bm-neco');

/* @import url('https://fonts.cdnfonts.com/css/serious-r2b/2');  */
/* seriousr2b/2 seriousr4b/4 */

.Login, .title, .little, .logininput, .loginform, .inputbutton, .signupform, .Create{
  font-family: 'seriousr2', sans-serif;
  font-style: normal;
}

.title {
  font-family: 'Press Start 2p', sans-serif;
  text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;
}

.createCritter, .logininput, .inputbutton, .left, .right {
  color: rgb(85, 84, 84);
}

.createCritter {
  text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;

}

.leftrightbutton {
  text-align: center;
 
}

.critterheading {
  font-family: 'Press Start 2p', sans-serif;
  font-size: 40px;
}

.homepage {
  font-family: 'Press Start 2p', sans-serif;
  font-size: 65px;
  text-align: center;
  z-index: 200;
  padding: 150px;
  text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;
}

.selectcritter {
  margin-top: 0;
}

#critterContainer {

  display: flex;
  width: 80vw;
  height: 30vh;
  justify-self: center;
  align-self: center;
}

.critterButtonContainer {

  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border-color: red;

  width: 40vw;
  

}

h4 {
  max-height: 20vh;

}

#viewContainer {

  display: flex;
  position: relative;
  text-align: center;
  


}

.careControls {
  border-radius: 25%;
  color: green;
  display: flex;

}

/* -------------------------------------------------------- */
/* ----------------------Feed&Drink------------------------ */
/* -------------------------------------------------------- */

#critterContainerAlt {

  position: relative;;
  display: flex;
  width: 80vw;
  height: 30vh;
  align-self: center;
  bottom: -25vh;
  padding: 0px;
  margin: 0px;
  
}

.critterMessage {
  font-family: 'Press Start 2p';
  text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;
  font-size: 12pt;
  position: absolute;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url("./assets/413-4138875_large-text-box-speech-bubbles-bubble-text-png.png");
  background-size: 100% 20vh;

}

.messageText {
  font-family: 'Press Start 2p';
  text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ; 
  text-align: center;
  object-fit: contain;
  margin: 0px;
  padding: 1px 3vw 0 3vw;
}

.fed {
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2p';
  text-shadow: -0.5px -1px 0 pink, 1px -1px 0 pink, -0.5px 1px 0 pink, 1px 1px 0 pink, 1px 1px 2vw #00c3ff, 1px 1px 1vw #f200ff ;
}

.all {
  width: 50px;
  height: 50px;
  text-align: center;
  background-position: center;
  background-size: 75%;
  padding: 10px;
  background-color: #445169;
  border: 2px solid antiquewhite;
  box-shadow: 1px 1px 5px rgb(8, 234, 255), -1px -1px 5px rgb(8, 20, 255);
  

}

.goFromLeft {
  animation: movingFromLeft 10s;
}

.goFromRight {
  animation: movingFromRight 10s; 
}

.littleCritterLeft {
  --pixel-size-four: 1.5;
  --pixel-size-six: 2.25;
  --pixel-size-eight: 3; 
  transform: scaleX(1);
  
}

.littleCritterRight {
  --pixel-size-four: 1.5;
  --pixel-size-six: 2.25;
  --pixel-size-eight: 3; 
  transform: scaleX(-1);

}

.paused {
  animation-play-state: paused;
} 

.running  {
  animation-play-state: running;
}

@keyframes movingFromLeft {
  0%{
    left: 10vw;
  } 100% {
    left: 80.1vw
  }
}

@keyframes movingFromRight {
  0%{
    left: 70vw
  } 100% {
    left: -10vw
  }
}

.biggerCritterLeft {
  --pixel-size-four: 12;
  --pixel-size-six: 18;
  --pixel-size-eight: 24;
  transform: scaleX(1);

}

.biggerCritterRight {
  --pixel-size-four: 12;
  --pixel-size-six: 18;
  --pixel-size-eight: 24;
  transform: scaleX(-1);
}

@keyframes movingFromLeft {
  from{
    transform: translate(0vw)
  } to {
    transform: translate(80vw);
  }
}

/* -------------------------------------------------------- */
/* -------------------- Pixel Art Css --------------------- */
/* -------------------------------------------------------- */
.pixelArt {
  image-rendering: pixelated;
  margin: 0 auto;
}
/*  This section creates a new .css variable in order to adjust the size of individual pixels so as to make the pixel art scaleable */
:root {
  --pixel-size-four: 6;
  --pixel-size-six: 9;
  --pixel-size-eight: 12; 
  /*  adjusting this number changes critter size   */
}
/* -------------------------------------------------------- */


/* ##### FOR MAPPING IF WE USE IT ##### */

/* .mapContainer {
  width: 50vw;
  height: 50vh;
}

.mapMarker {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 14pt;
  cursor: pointer;
}

.mapMarker:hover {
  width: 20px;
  height: 20px;
  font-size: 18pt;
} */

Form {
  max-width: 30vw;
  margin: 30px;
  padding: 20px;
  display: inline-block;
  /* border: 1px solid red; */
}

.loginform {
  max-width: 30vw;
  margin: 30px;
  padding: 20px;
  display: inline-block;

}

.logininput {
  background-color: #9e856c;
  border-radius: 10px;
  margin: 10px;
  border: none;
  padding: 5px;
  color:#fff;
}

.form-control {
  background-color: #9e856c;
}

.inputbutton {
  border-radius: 10px;
}

.fndButton1 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleFood.png");
  background-repeat: no-repeat;
  background-position: cover;
  
}
.fndButton2 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleDrink.png");
  background-repeat: no-repeat;
  
}
.fndButton3 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleSweet.png");
  background-repeat: no-repeat;
  
}

.critterButton1 {
  max-width: 10vw;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
   /* background-image: url("./assets/left-arrow.png");
  background-repeat: no-repeat;  */
}
.critterButton2 {
  max-width: 10vw;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  /* background-image: url("./assets/down-arrow.png");
  background-repeat: no-repeat; */
}
.critterButton3 {
  max-width: 10vw;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  /* background-image: url("./assets/right-arrow.png");
  background-repeat: no-repeat; */
}
.critterButton4 {
  max-width: 10vw;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  /* background-image: url("./assets/up-arrow.png");
  background-repeat: no-repeat; */
}

h1 {

  font-size: 60px;

}

h2 {
  font-size: 50px;
}

.all:hover {
  color: white;
}

a:link {
  text-decoration: none;
  color: rgb(33, 74, 48);
}

a:visited {
  text-decoration: none;
  color: rgb(33, 74, 48);
}

header {
  position: relative;
  background-image: url("./assets/skyheader3.jpg");
  /* height: 100vh;  */
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: 0 0; */
  /* background-repeat: repeat-x; */
  /* animation: redblob 15s linear infinite;  */
  /* z-index: -10; */
}

.pikachu {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: pikachu 15s linear infinite;
}
@keyframes pikachu
{
  from {bottom: 0px;}
  to {bottom: 430px;}
}

.dinosaur {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: dinosaur 15s linear infinite;
}
@keyframes dinosaur
{
  from {left: 50px;}
  to {left: 600px;}
  from {top: 150px;}
  to {top: 700px;}

}

.mario {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: mario 15s linear infinite;
}
@keyframes mario
{
  from {bottom: 0px;}
  to {bottom: 400px;}
  from {left: 100px;}
  to {left: -120px;}
}

.pinkpolice {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: pinkpolice 15s linear infinite;
}
@keyframes pinkpolice
{
  from {right: 50px;}
  to {right: 700px;}
  from {top: 250px;}
  to {top: 700px;}

}

.pop {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: pop 10s linear infinite;
}
@keyframes pop
{
  from {bottom: 0px;}
  to {bottom: 300px;}
  from {right: 100px;}
  to {right: -20px;}
}

.redblob {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: redblob 15s linear infinite;
}
@keyframes redblob
{
  from {right: 0px;}
  to {right: 1200px;}
}

.pinkblob {
  position: fixed;
  border-radius: 10px;
  height: 25px;
  /* background-position: 0 0; */
  background-repeat: repeat-x;
  animation: pinkblob 15s linear infinite;
}
@keyframes pinkblob
{
  from {left: 0px;}
  to {left: 1200px;}
}

body {
  background-image: url("./assets/grass\ tile.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  z-index: -10;
  height: 90vh;
  
}

footer {
  /* margin-top: 550px; */
  background-color: #282c34;
  max-height: 40px;
  color: white;
  position: absolute;
  bottom: 0vh;
  width: 100vw;
  text-align: center;
}


.App {
  text-align: center;
  height: 70vh;
  width: 100vw;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#critterContainerTwo {
  background-image: url("/src/assets/battle-background.jpg");
  background-position: center center;
  background-size: 100% 100%;

  /* background-color: white; */
  padding: 40px;
  margin: 60px;
  border-radius: 20px;

  /* background-size: cover; */
  /* max-width: 100%;
  max-height: 100%; */
  /* height: 1000px;
  width: 1000px; */
 

  object-fit: cover;
}

.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Game CSS */
#gameContainer {
  font-family: 'Press Start 2P', cursive;
  font-size: px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-color: red; */
  border-radius: 20px;
  /* background-color: white; */
  padding: 40px;
  margin: 20px 50px;
  margin-bottom: -30px;
}

#userContainer, #opponentContainer {
  margin: 0 auto;
}

#game-flip {
  transform: scaleX(-1);
}

#game-image {
  transform: scaleX(-1);
  margin: 0 auto;
}


#user-game, #opp-game {
  text-align: center;
  color: rgb(3, 9, 11);
  font-size: 15px;
}

#game-critter {
  background-color: aliceblue;
 
}

#level {
  font-family: 'Press Start 2P', cursive;
  font-size: 50pt;
}

#game-buttons {
  /* color: red; */
  /* background-color: red; */
  /* background-color: black; */
  margin: 0 auto;
  font-family: 'Press Start 2p';
  margin-bottom: -15px;
 
}

.video-game-button {
  /* background-color: black;
  font-family: 'Press Start 2p'; */
  font-size: 30pt;
  font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 1px rgb(239, 233, 233), -1px -1px rgb(38, 9, 9);

	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.start-btn {
  font-family: 'Press Start 2p';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: rgb(241, 230, 230);
    text-shadow: -1px -1px black, 1px 1px white;
    color: rgb(194, 187, 187);
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    padding: 10px;
}

.video-game-button:active, .start-btn:active {
  font-family: 'Press Start 2p';
	box-shadow: none;
	position: relative;
	top: .2em;
}