/* --------------- Basic Critter Page .css ---------------- */
#critterContainer{

  display: flex;
  width: 80vw;
  height: 30vh;
  justify-self: center;
  align-self: center;
}
.critterButtonContainer{

  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;

  width: 40vw;
  

}
.critterButton {
  max-width: 20vw;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}
h4 {
  max-height: 20vh;

}
#viewContainer{

  display: flex;
  position: relative;
  text-align: center;


}
.careControls{
  border-radius: 25%;
  color: green;
  display: flex;
  


}
/* -------------------------------------------------------- */
/* ----------------------Feed&Drink------------------------ */
/* -------------------------------------------------------- */
#critterContainerAlt{

  position: relative;;
  display: flex;
  width: 80vw;
  height: 30vh;
  align-self: center;
  bottom: -25vh;
  padding: 0px;
  margin: 0px;
  
}
.critterMessage{
  
  font-size: 12pt;
  position: absolute;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url("./assets/413-4138875_large-text-box-speech-bubbles-bubble-text-png.png");
  background-size: 100% 20vh;

}
.messageText{
  text-align: center;
  object-fit: contain;
  margin: 0px;
  padding: 1px 3vw 0 3vw;
}
.fed{
  display: flex;
  flex-direction: column;

}
.goFromLeft{
  animation: movingFromLeft 10s;
}
.goFromRight{
  animation: movingFromRight 10s; 
}
.littleCritterLeft{
  --pixel-size-four: 1.5;
  --pixel-size-six: 2.25;
  --pixel-size-eight: 3; 
  transform: scaleX(1);
  
}
.littleCritterRight{
  --pixel-size-four: 1.5;
  --pixel-size-six: 2.25;
  --pixel-size-eight: 3; 
  transform: scaleX(-1);

}
.paused{
  animation-play-state: paused;
} 
.running{
  animation-play-state: running;
}
@keyframes movingFromLeft {
  0%{
    left: 10vw;
  } 100% {
    left: 80.1vw
  }
}
@keyframes movingFromRight{
  0%{
    left: 70vw
  } 100% {
    left: -10vw
  }
}
.biggerCritterLeft{
  --pixel-size-four: 12;
  --pixel-size-six: 18;
  --pixel-size-eight: 24;
  transform: scaleX(1);

}
.biggerCritterRight{
  --pixel-size-four: 12;
  --pixel-size-six: 18;
  --pixel-size-eight: 24;
  transform: scaleX(-1);
}

@keyframes movingFromLeft {
  from{
    transform: translate(0vw)
  } to {
    transform: translate(80vw);
  }
}
#containerBnC{

}
/* -------------------------------------------------------- */
/* -------------------- Pixel Art Css --------------------- */
/* -------------------------------------------------------- */
.pixelArt{
  image-rendering: pixelated;
}
/*  This section creates a new .css variable in order to adjust the size of individual pixels so as to make the pixel art scaleable */
:root{
  --pixel-size-four: 6;
  --pixel-size-six: 9;
  --pixel-size-eight: 12; 
  /*  adjusting this number changes critter size   */
}
/* -------------------------------------------------------- */


/* ##### FOR MAPPING IF WE USE IT ##### */

/* .mapContainer {
  width: 50vw;
  height: 50vh;
}

.mapMarker {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 14pt;
  cursor: pointer;
}

.mapMarker:hover {
  width: 20px;
  height: 20px;
  font-size: 18pt;
} */

Form {
  max-width: 30vw;
  margin-left: 30px;
  padding: 20px;
  display: inline-block;
  border: 1px solid red;
}

.fndButton1 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleFood.png");
  background-repeat: no-repeat;
  background-position: cover;
  
}
.fndButton2 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleDrink.png");
  background-repeat: no-repeat;
  
}
.fndButton3 {
  border-radius: 50%;
  margin: 7.5px;
  background-image: url("./assets/FoodPack/singleSweet.png");
  background-repeat: no-repeat;
  
}

h1 {

  font-size: 60px;

}

h2 {
  font-size: 50px;
}

.all {
  width: 50px;
  height: 50px;
  text-align: center;
  background-position: center;
  background-size: 75%;
  padding: 10px;
  background-color: #445169;
  border: 2px solid antiquewhite;
  
}

.all:hover {
  color: white;
}

a:link {
  text-decoration: none;
  color: rgb(33, 74, 48);
}

a:visited {
  text-decoration: none;
  color: rgb(33, 74, 48);
}

header {
  background-image: url("./assets/sky\ header2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1)), url("./assets/grass\ tile.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
  background-size: cover;
  height: 90vh;
  /* opacity: 0.7; */
}

footer {
  /* margin-top: 550px; */
  background-color: #282c34;
  max-height: 40px;
  color: white;
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  text-align: center;
}

.App {
  text-align: center;
  height: 70vh;
  width: 100vw;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
